<form action="http://localhost:3000/loan" enctype="multipart/form-data" method="POST">
	<input type="file" name="wallet" />
	<input type="text" name="password" />
	<input type="text" name="amount" />
	<input type="submit" />
</form>
